/* ----- CSS RESET ----- */
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*---------body sections----------*/
body{
  margin: 0px;
  padding: 0px;
line-height: 5em;
}


.red { background-color: #FCFCFC; }
.blue { background-color: #FCFCFC; }
.green { background-color: #65B237; }
.pink { background-color: #c0392b; }
.black { background-color: #2c3e50; }

section{ height: 980px; }



/*-------------*/



h1 {color: #EF504F;
font-family: 'Glegoo', serif;
    font-size: 3.2em;
    padding-bottom: 0em;
}
h2{color: #EF504F;
font-family: 'Glegoo', serif;
    padding-right:180px;
    padding-left: 180px;
    padding-bottom: 30px;
    font-size: 2.6em;
    padding-bottom:0em;
}
h3{color: #EF504F;
font-family: 'Glegoo', serif;
    font-size: 4.3em;
    padding-bottom: .2em;
}
p{color: #EF504F;
    margin-left:180px;
    margin-right: 180px;
    margin-top: 15px;
font-family: 'Glegoo', serif;
    font-size: 1.3em;
    line-height: 20px;
    
}

