/* ----- CSS RESET ----- */
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*---------body sections----------*/
body{
  margin: 0px;
  padding: 0px;
line-height: 5em;
    background-color: #FCFCFC; 
}






/*-------------*/



h1 {color: #002540;
font-family: 'Glegoo', serif;
    font-size: 2em;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
h2{color: #EF504F;
font-family: 'Glegoo', serif;
    padding-right:180px;
    padding-left: 180px;
    padding-bottom: 60px;
    padding-top: 100px;
    font-size: 2.2em;
    padding-bottom:0em;
}

h3{
    font-family: 'Glegoo', serif;
    font-size: 3.2em;
    color: #EF504F;
    text-align: center;
    padding-top: 140px;
    margin-top: 180px;
    margin-bottom: 280px;
    height: 70%;
}

p{color: #EF504F;
    margin-left:180px;
    margin-right: 180px;
    margin-top: 15px;
    margin-bottom: 200px;
font-family: 'Glegoo', serif;
    font-size: 1.3em;
    line-height: 44px;
    
}

